.business {
    padding-bottom: 94px;
  }
  
  .business-title {
    margin-bottom: 50px;
  }
  
  .business-list {
    display: flex;
    margin-left: -30px;
    margin-top: -30px;
  }
  
  .business-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
  
  .business-top-wrapper {
    position: relative;
  }
  
  .business-top-text {
    position: absolute;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
    color: #ffffff;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    padding: 27px;
    bottom: 0;
  }
  