.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  @media screen and (min-width: 768px) {
    padding: 60px 0;
    
  }
}

  .footer__container {

    @media screen and (min-width: 1200px) {
    display: flex;
  }}
    

.footer__content {
  @media screen and (min-width: 768px) {
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 1200px) {
    justify-content: left;
  width: 730px;
       
  }
}
}

.footer__contacts-block {
  @media screen and (min-width: 768px){
padding-left: 61px;
  }
  @media screen and (min-width: 1200px){
    width: 231px;
padding-left: 0;
  }
}

.logo {
  text-align: center;
    display: block;
    @media screen and (min-width: 1200px) {
    text-align: left;
}}

.logo-color-white {
  color: #ffffff;
}

.address {
  margin-top: 20px;
}

.addres__lists {
  padding-bottom: 60px;
    text-align: center;
    font-style: normal;
    @media screen and (min-width: 1200px) {
      text-align: left;
  }
}

.address__item:not(:first-child) {
  margin-top: 8px;
  @media screen and (min-width: 1200px) {
    margin-top: 9px;}
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.address__link-contacts {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.social-block {
  @media screen and (min-width: 768px) 
  {padding-right: 74px;}
  @media screen and (min-width: 1200px) 
  {padding-right: 0;
    margin-left: 70px; 
    margin-right: 93px;
  }
}

.social-block__join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 60px;
  @media screen and (min-width: 768px) {
    margin-top: 5px;
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
    margin-top: 15px;
}

}


.footer__social-list {
  display: flex;
  justify-content: center;
  @media screen and (min-width: 1200px) {justify-content: start;}
}

.footer__social-item {
  width: 44px;
  height: 44px;
}

.footer__social-item + .footer__social-item {
  margin-left: 10px;
}

.footer__social-link {
  width: 100%;
  height: 100%;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-link:hover,
.footer__social-link:focus {
  background-color: var(--accent-color);
}

.footer__social-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.subscribe {  
  width: 100%;
  display: inline-block;
 
  
}



.subscribe-input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  @media screen and (min-width: 768px) {width: 450px}
  @media screen and (min-width: 1200px) {
    width: 358px;
    display: inline-flex;
    margin-right: 12px;
}}

.subscribe-input::placeholder {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-input:focus {
  border-color: #ffffff;
}

.subscribe-input:focus::placeholder {
  color: #ffffff;
}

.subscribe-btn {
    background-color: var(--accent-color);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 1200px) {
    display: inline-flex;
  }
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #188ce8;
}

.footer-subscribe-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

