.team {
    padding-top: 94px;
    padding-bottom: 94px;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #f5f4fa;
  }
  
  .team-title {
    padding-bottom: 50px;
  }
  
  .team-lists {
    margin-top: 50px;
  
    display: flex;
    margin-left: -30px;
    margin-top: -30px;
  }
  
  .cart {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    background: #ffffff;
  
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  
  .cart-info {
    padding-bottom: 30px;
  }
  
  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-color);
  }
  
  .cart-title {
    padding-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--title-color);
  }
  
  .cart-text {
    padding-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 16px;
  }