.header_mob-menu-contacts {
    padding-bottom: 48px;
  }.header__menu-open-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    margin-left: auto;
    cursor: pointer;
    &:hover, &:focus {
      fill: var(--accent-color);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  
  .header__menu-btn-icon {
    width: 24px;
    height: 16px;
  }
  
  .header__mob-menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 1;
    padding: 10px 15px 0 40px;
    display: flex;
    justify-content: space-between;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
                                              
      @media screen and (min-width:768px) {
      display: none;}
  }
  
  .header__mob-menu.is-open {
    transform: translateX(0);
  }
  
  .header__mob-menu-content {
    padding-top: 38px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  

  
  .header__mob-menu-item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  .header__mob-menu-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--title-color);
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  
  .header__mob-menu-tel {
    display: block;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
  
    letter-spacing: 0.02em;
  
    color: var(--accent-color);
  }
  
  .header__mob-menu-mail {
    display: block;
    margin-bottom: 64px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  
    color: var(--text-color);
  }
  
  .header__menu-close-btn {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    position: absolute;
     top: 10px;
      right: 15px;
  
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }
  .header__menu-close-btn-icon {
    width: 19px;
    height: 19px;
  }
  .header__sotial-list {
    display: flex;
  }
  
  .header__sotial-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  
  .header__sotial-item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  
  .header__sotial-item:not(:first-child) {
    padding-left: 10px;
  }
  