.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &.is-hidden {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      .modal {
        transform: scale(2);
      }
    }
}




.modal {
  position: relative;
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.close-btn {
  position: absolute;
  right: 14px;
  top: 14px;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-icon {
  width: 18px;
  height: 18px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover, &:focus {
  fill: var(--accent-color);
}
}



.modal__field {
  margin-bottom: 10px;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.input-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.modal-input {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--title-color);
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 42px;
  padding-right: 12px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
    & + .input-icon {
      fill: var(--accent-color);
    }
  }
}





.input-wrapper {
  display: block;
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--title-color);
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding: 12px 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
&::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
}




.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  span {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 3px;
    margin-right: 9px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

}



.modal-link {
  color: var(--accent-color);
}

.modal-checkbox {
&:checked + .check-text span {
  background-color: var(--accent-color);

  border-color: transparent;
}
}


.modal-btn {
  padding: 10px 55px;
  margin: 0 auto;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:hover {
    background-color: #188ce8;
  }
}
